<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    You have submitted the following: <% newInfoArray.forEach((element) => { %>
    <p><%= Object.keys(element)[0] %> : <%= Object.values(element)[0]; %></p>
    <% }); %>
    <button><a href="/">Home</a></button>
  </body>
</html>
