  <%- include('nav', { link: "/add-info-new-style.css", title: "New Patient" }); %>
  <body>
    <div class="main">
        <div id="results">
          <div class="new-details">
        <div class="header">New Patient Details</div>
        </div>
        <br>
        <% newInfoArray.forEach((element) => { %>
        <div>
            <span class="sub-header"><%= Object.keys(element)[0] %>: </span>  <br> <span class="content"><%= Object.values(element)[0] %> </span> 
          <br><br>
        </div>
        <% }); %>
        <div class="buttons">

          <button class="home-button" onclick="window.location.href='/'">Home</button>
          <button class="details-button" onclick="window.location.href='/add-info'">Add More Details</button>
        </div>
      </div>
    </div>
  </body>
</html>
