  <%- include('nav', { link: "/add-info-dep.css" }); %>

  <body>
    <div class="main">
     <div>
        <div><a href="/add-info">New Patient</a></div>
       <div><a href="/add-info/hospital">New Hospital</a></div>
       <div><a href="/add-info/department">New Department</a></div>
      </div>
      <form action="/add-info/department" method="POST">
        
        <label for="new-department">New Department:</label><br />
        <input
          type="text"
          id="new-department"
          name="new-department"
          placeholder="New Department"
          required
        /><br /><br />
        
        <input type="submit" submit />
      </form>
    </div>
  </body>
</html>
