  <%- include('nav', { link: "add-info-new-dep.css" }); %>

  <body>
    <div class="main">
      <div>You have submitted the following:</div>
      <% newInfoArrayDep.forEach((element) => { %>
      <div>
        <%= Object.keys(element)[0] %> : <%= Object.values(element)[0] %>
      </div>
      <% }); %>
      <button><a href="/">Home</a></button>
    </div>
  </body>
</html>
