  <%- include('nav', { link: "add-info-style.css", title: "Add Patient" }); %>

  <body>
    <div class="main">
      <br /><br />
      <div id="form">
        <div class="buttons">
          <button class="add-patient" onclick="window.location.href='/add-info'"> New Patient</button>
          <button class="add-hospital" onclick="window.location.href='/add-info/hospital'"> New Hospital</button>
          <button class="add-department" onclick="window.location.href='/add-info/department'"> New Department</button>
        </div>

        <div class="details">
          <form action="/add-info" class="form-details" method="POST">
            <label for="new-patient" class="font-size"> New Patient:</label><br />
            <input
              type="text"
              id="new-patient"
              name="new-patient"
              placeholder="New Patient"
              class="font-size-input"
              required
            /><br /><br />
            <label for="relationship" class="font-size">Relationship To You:</label><br />
            <input
              type="text"
              id="relationship"
              name="relationship"
              placeholder="Relationship To You"
              class="font-size-input"
              required
            /><br /><br />
          
            <input type="submit" name="submit" id="submit" />
          </form>   
        </div>
      </div>
    </div>
  </body>
</html>
