  <%- include('nav', { link: "/add-info-hos-style.css" }); %>

  <body>
    <div class="main">
     <div>
        <div><a href="/add-info">New Patient</a></div>
       <div><a href="/add-info/hospital">New Hospital</a></div>
       <div><a href="/add-info/department">New Department</a></div>
      </div>
      <form action="/add-info/hospital" method="POST">
        
        <label for="new-hospital">New Hospital:</label><br />
        <input
          type="text"
          id="new-hospital"
          name="new-hospital"
          placeholder="New Hospital"
          required
        /><br /><br />
        
        <input type="submit" submit />
      </form>
    </div>
  </body>
</html>
