<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/add-info" method="POST">
      <label for="new-patient">New Patient:</label><br />
      <input
        type="text"
        id="new-patient"
        name="new-patient"
        placeholder="New Patient"
      /><br /><br />
      <label for="relationship">Relationship To You:</label><br />
      <input
        type="text"
        id="relationship"
        name="relationship"
        placeholder="Relationship To You"
      /><br /><br />
      <label for="new-hospital">New Hospital:</label><br />
      <input
        type="text"
        id="new-hospital"
        name="new-hospital"
        placeholder="New Hospital"
      /><br /><br />
      <label for="new-department">New Department:</label><br />
      <input
        type="text"
        id="new-department"
        name="new-department"
        placeholder="New Department"
      /><br /><br />
      <input type="submit" submit />
    </form>
  </body>
</html>
