<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ATHAZ</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/main-invalid-style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap"
      rel="stylesheet"
    />
     <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
     <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
   <div class="row nav">
     <div class="col-6 title-container">
      <div class=" title"> <a href="/">ATHAZ</a></div>
     </div>
     <div class="col-6 account">
       <div class="login">
         <form action="/main" method="POST">
          <label for="email"></label>
          <input type="text" id="email" name="email" placeholder="Email" class="email" required />
          <label for="password"></label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Password"
            class="password"
            required
          />
          <input type="submit" value="Sign In" class="sign-in"/>
         </form>
       </div>
       <div class="signup">
        <button class="sign-up-link" onclick="window.location.href='/signup'"> Create New Account</button>
       </div>
      </div>
   </div>
   <!-- <div class="slideshow-container">
     <div class="slideshow">
     </div>
   </div> -->
<div class="slideshow-container">

  <div class="mySlides fade">
    <img src="/main-1.1.jpg">
  </div>

  <div class="mySlides fade">
    <img src="/main-2.png">
  </div>

  <div class="mySlides fade">
    <img src="/main-3.png">
  </div>
<div class="dots"   style="text-align:center">
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
</div>
</div>


<script>
  var slideIndex = 0;
showSlides();

function showSlides() {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}    
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
  setTimeout(showSlides, 5000); 
}
</script>
  </body>
</html>
