<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="signup-style.css" />
 <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap"
      rel="stylesheet"
    />
    <title>Sign Up</title>
  </head>
  <body>
    <div class="row nav">
     <div class="col-6 title-container">
      <div class=" title"> <a href="/">ATHAZ</a></div>
     </div>
     <div class="col-6 account"></div>
   </div>
    </form>

      <div id="first">
        <form action="/signup" method="POST">
          <label>Email:</label>
          <input type="text" id="email" name="email" placeholder="Email" required />
          <label>Password:</label>
          <input id="password" name="password" placeholder="Password" type="password" required>
          <input id="submit" type="submit" value="Submit">
        </form>
      </div>
  </body>
</html>
