body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(254, 251, 247);
  font-family: sans-serif;
}

.main {
  height: 100vh;
  margin-left: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#form {
  width: 30%;
  height: auto;
  margin: 30px;
  padding: 45px 60px 60px 60px;
  background-color: rgb(255, 243, 228);
  color: #333;
  border: 2px solid rgb(255, 223, 181);
  border-radius: 40px 0 40px 0;
  margin-bottom: 120px;
}

label {
  font-size: 15px;
  font-weight: 700;
}

#submit {
  background-color: rgb(3, 189, 3);
  border-radius: 5px;
  border: none;
  padding: 10px 5px 10px 5px;
  color: #fff;
  text-shadow: 1px 1px 1px #949494;
}

#submit:hover {
  background-color: rgb(4, 227, 4);
}

.buttons {
  display: flex;
  justify-content: center;
  padding-bottom: 55px;
}

.details {
  display: flex;
  justify-content: center;
}

.form-details {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.add-patient {
  margin: 0px 3px 0px 3px;
  padding: 0px 9px 0px 9px;
  background-color: rgb(252, 218, 175);
  font-size: 15px;
}

.add-hospital {
  margin: 0px 3px 0px 3px;
  background-color: rgb(249, 179, 88);
  font-size: 15px;
}

.add-department {
  margin: 0px 3px 0px 3px;
  background-color: rgb(252, 218, 175);
  font-size: 15px;
}

.font-size {
  font-size: 24px;
}

.font-size-input {
  font-size: 18px;
}
