body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(254, 251, 247);
  font-family: sans-serif;
}

.main {
  margin-top: 40px;
  margin-left: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
}

.home-button {
  background-color: rgb(3, 189, 3);
  border-radius: 5px;
  border: none;
  padding: 10px 33px 10px 33px;
  color: #fff;
  text-shadow: 1px 1px 1px #949494;
  margin-left: 3px;
  margin-right: 3px;
}

.home-button:hover {
  background-color: rgb(4, 227, 4);
}

.details-button {
  background-color: rgb(3, 189, 3);
  border-radius: 5px;
  border: none;
  padding: 10px 5px 10px 5px;
  color: #fff;
  text-shadow: 1px 1px 1px #949494;
  margin-left: 3px;
  margin-right: 3px;
}

.details-button:hover {
  background-color: rgb(4, 227, 4);
}

#results {
  width: 350px;
  height: auto;
  margin: 30px;
  padding: 40px;
  background-color: rgb(255, 243, 228);
  color: #333;
  border: 2px solid rgb(255, 223, 181);
  border-radius: 40px 0 40px 0;
}

.new-details {
  width: 100%;
  display: flex;
  justify-content: center;
}
