body,
html {
  margin: 0;
  padding: 0;
  background-color: rgb(254, 251, 247);
  font-family: sans-serif;
}

#first {
  width: 350px;
  height: auto;
  margin: 120px auto 0;
  padding: 60px;
  background-color: rgb(255, 243, 228);
  color: #333;
  border: 2px solid rgb(255, 223, 181);
  border-radius: 40px 0 40px 0;
}
label {
  font-size: 15px;
  font-weight: 700;
}

#date {
  border: 1px solid #dadada;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 15px;
  width: 310px;
  height: 30px;
  box-shadow: 0 0 10px;
  -webkit-box-shadow: 0 0 10px;
  /* For I.E */
  -moz-box-shadow: 0 0 10px;
  /* For Mozilla Web Browser */
  border-radius: 5px;
  -webkit-border-radius: 5px;
  /* For I.E */
  -moz-border-radius: 5px;
  /* For Mozilla Web Browser */
}
#time {
  padding-left: 15px;
  margin-top: 15px;
  margin-bottom: 20px;
  box-shadow: 0 0 0 1px;
  -webkit-box-shadow: 0 0 10px;
  /* For I.E */
  -moz-box-shadow: 0 0 10px;
  /* For Mozilla Web Browser */
  border-radius: 5px;
  -webkit-border-radius: 5px;
  /* For I.E */
  -moz-border-radius: 5px;
  /* For Mozilla Web Browser */
}

#submit {
  background-color: rgb(3, 189, 3);
  border-radius: 5px;
  border: none;
  padding: 10px 25px;
  color: #fff;
  text-shadow: 1px 1px 1px #949494;
  margin-left: 120px;
}
#submit:hover {
  background-color: rgb(4, 227, 4);
}

.titles {
  font-size: 24px;
}

.content {
  font-size: 18px;
}
