body {
  margin-top: 15px;
  background-color: rgb(254, 251, 247);
}

main {
  margin-left: 5rem;
}

.sort-container {
  display: flex;
  justify-content: end;
}

.table-container {
  width: 100%;
}

.table {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.january,
.february,
.march,
.april,
.may,
.june,
.july,
.august,
.september,
.october,
.november,
.december {
  margin-left: 400px;
  font-weight: bold;
  font-size: 35px;
  font-family: sans-serif;
}

.month-container {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
}

.january-table,
.february-table,
.march-table,
.april-table,
.may-table,
.june-table,
.july-table,
.august-table,
.september-table,
.october-table,
.november-table,
.december-table {
  margin-left: 400px;
}

.table-header {
  font-size: 20px;
  padding: 20px 50px 20px 50px;
  text-align: center;
  background-color: rgba(255, 166, 0, 0.482);
}

.table-content {
  font-family: sans-serif;
  font-size: 17px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.triangle_down1,
.triangle_down2,
.triangle_down3,
.triangle_down4,
.triangle_down5,
.triangle_down6,
.triangle_down7,
.triangle_down8,
.triangle_down9,
.triangle_down10,
.triangle_down11,
.triangle_down12 {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #2f2f2f;
  font-size: 0;
  line-height: 0;
  margin-left: 16px;
}

#submit {
  padding: 0;
  border: none;
  background: none;
}

#sort,
#filter-patient,
#filter-hospital {
  background-color: rgb(255, 246, 234);
  font-family: sans-serif;
  font-weight: bold;
}
