body {
  margin-top: 15px;
  background-color: rgb(254, 251, 247);
}

main {
  margin-left: 5rem;
}

.sort-container {
  width: 100%;
  display: flex;
  justify-content: end;
}

.table-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.name-container {
  margin-top: 20px;
  width: 100%;
  /* display: flex; */
}

.table {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
}

.name {
  margin-left: 195px;
  /* margin-left: 400px; */
  font-weight: bold;
  font-size: 35px;
  font-family: sans-serif;
}

.table-header {
  font-size: 20px;
  padding: 10px 50px 10px 50px;
  text-align: center;
  background-color: rgb(252, 206, 157);
}

.table-content {
  font-family: sans-serif;
  font-size: 17px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

#submit {
  padding: 0;
  border: none;
  background: none;
}

#sort,
#filter-month,
#filter-hospital {
  background-color: rgb(255, 236, 217);
  font-family: sans-serif;
  font-weight: bold;
}

#filter-hospital {
  margin-right: 194px;
}
