* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body,
html {
  margin: 0;
  height: 100%;
}

.nav {
  margin: 0;
  background-color: black;
  height: 64px;
  z-index: 2;
}

.title {
  padding-left: 25px;
  font-size: 50px;
  font-family: sans-serif;
  font-weight: bold;
  /* background: -webkit-linear-gradient(yellow, red); */
  background-color: white;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title-container {
  display: flex;
  align-items: center;
  height: 100%;
}
.account {
  display: flex;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}

.login {
  display: flex;
  justify-content: end;
}

.email {
  width: 40%;
}

.password {
  width: 39%;
}

.signup {
  display: flex;
  justify-content: end;
  padding-right: 16px;
  padding-top: 5px;
}

.sign-up-link {
  background-color: rgb(58, 64, 255);
  color: wheat;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 12px;
  padding: 0px 4px 0px 4px;
}

/* .slideshow-container {
  height: 100%;
}

.slideshow {
  height: 100%;
  background-image: url("test1.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

.mySlides {
  display: none;
  height: 100vh;
  width: 100%;
  /* background-repeat: no-repeat;
  background-size: cover; */
  object-fit: cover;
}
img {
  padding: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Slideshow container */
.slideshow-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 2.6s ease;
}

.dots {
  position: relative;
  bottom: 42px;
  left: 900px;
}
.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 5s;
  animation-name: fade;
  animation-duration: 5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

.sign-in {
  background-color: rgba(3, 187, 40, 0.879);
  color: black;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: wheat;
  height: 100%;
  padding: 0px 4px 0px 4px;
}

#email,
#password {
  background-color: rgb(255, 246, 233);
}
